.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: black;
}

.sidebar .nav-link:hover {
    font-size: 0.875rem;
    font-weight: 500;
    color: #2470dc;
    text-decoration: underline;
    background-color: beige;
}

.sidebar .nav-link.active {
    color: #2470dc !important;
}

.sidebar-heading {
    font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
}

/* Content Dashboard */
a.box--items {
    max-width: 300px;
    cursor: pointer;
    background-color: bisque;
    padding: 10px 45px 10px 10px;
    border-radius: 5px;
    margin: 0 2rem 0;
    margin-top: 20px;
    text-decoration: none;
}

a.box--items h3 {
    color: black;
}

a.box--items p {
    font-size: 18px;
    color: grey;
    font-weight: 700;
}

.custom-icon {
    font-size: 40px;
}

/* Content Dashboard Product */
